* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.topo-principal {
    background-color: #004a8d;
    padding: 15px 0;
    color: white;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.menu a:hover {
    color: #ffcc00;
}



